<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Простой калькулятор
    <br>
    <br>

    <form>
        <label for = "num1"> введите число</label>
        <input type = "text" id ="num1" name ="num1">

        <label for = "operation">выберите операцию</label>
        <input type = "text" id = "operation" name = "operation">

        <label for = "num2">введите число</label>
        <input type = "text" id ="num2" name ="num2">

        <input type = "submit" value="Посчитать">
    </form>

    <br>
    Результат:<br>
    {{ action }}

    </h1>

</body>
</html>